@font-face {
    font-family: 'Bolle Roteid'!important; /* Nombre de la tipografía para usar en CSS */
    src: url('../../public/fonts/Bolle Roteid.ttf') format('truetype')!important;
    font-display: swap;/* Ruta de la tipografía y su formato */
    /* O si usas WOFF: */
    /* src: url('fonts/mi-tipografia.woff') format('woff'); */
  }
  @font-face {
    font-family:'AkagiPro Light'!important ;
    src: url('../../public/fonts/Akagi Pro W00 Light.ttf') format('truetype')!important; 
      font-display: swap;
  }
  @font-face {
    font-family:'Anantha Signature' !important;
    src: url('../../public/fonts/Anantha\ Signature\ For\ Personal\ Use.ttf') format('truetype')!important; 
  }

  @font-face {
    font-family:'Arbotek'!important ;
    src: url('../../public/fonts/Arbotek-Thin.otf') format('opentype')!important ;
      font-display: swap;

  }
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=JetBrains+Mono:wght@100&family=Prompt:wght@500;600&display=swap');
.fondoCard{
    background-image: url('../../public/fondoDorado.png');
    margin-bottom:8%;
}
.fondoCinta{
    background-image: url('../../public/goldenFlow.png') ;
}   

.fontPrimary{
    font-family: 'Quicksand'!important;
    padding-top: 5%;
    font-weight: 700;
}

.fontSecundary{
    font-family: 'Anantha Signature'!important;
}

.fontCard{
    font-family: 'Quicksand'!important;
    font-weight: 500;
}
.fontCard2{
    font-family: 'Quicksand'!important;
    font-weight: 300;
}
.contentImg1{
  display:none !important;
}

@media (max-width: 600px){
  .contentImg1{
    display:block !important;
  }
  .contentImg{
    display: none !important;;
  }
.contentHeader{
  height: 100%;
  padding-top:none;
  z-index: 200!important;
}
.title{
  font-size: 3em;
}

.grid{
  max-width: 100%!important;
  padding: 5%;
}

.fondoCard{
  width: 100%!important;
  padding: 25px 0!important;
  margin: 0px 0 10% !important;
}
.containerGrid{
  display:block;
}
.number-tempo{
  font-size: 1.4em!important;
  padding: 10px 0px 10px 0px!important;
  font-weight: 700!important;
  color: white!important;
}
.content-tempo{
  padding:1em;
  font-size: 1.4em !important;
  color: white!important;
}

.fontPrimary{
  font-family: 'Bolle Roteid'!important;
  padding-top: 5%;
}

.fontSecundary{
  font-family: 'Anantha Signature'!important;
}

.fontCard{
  font-family: 'AkagiPro Light'!important;
}

.card{
  height: 100%!important;
  padding: 15px 0px 15px 0px !important;
}
.form{
  width: 100%!important;

}
.form2{
  width: 100%!important;
}
}
