.question{
    background-image: url('../../../../public/fondo\ web\ \(1\).png');
    padding:1px;
}
.title{
    font-family: Math;
    font-size: 2em;
    text-align: center !important;
    color:white;
}
.formuario{
    text-align:center;

}
@media screen and (min-width: 0px) and (max-width: 30em) {

    .slider1{ display: none !important;}
 
  } 

@media only screen and (min-width : 30em) {

    .slider2{ display: none !important;}
    }